<a href="https://colab.research.google.com/github/HasanAliNaqvi/NLP/blob/master/Class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import gzip
import nltk
nltk.download('punkt')
from textblob import TextBlob

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [0]:
url = 'https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv'
df = pd.read_csv(url, error_bad_lines=False)

df = df.iloc[0:100,:]

In [0]:
df1= pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz" , lines=True)

df1 = df1.iloc[0:100,:]

In [6]:
df.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [7]:
df1.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def textblobfunction(text):
  blob = TextBlob(text)
  for sentence in blob.sentences:
     print(sentence.sentiment.polarity)
  return text

In [13]:
textblobfunction(df1['reviewText'][32])

0.45
0.0

"These ubiquitous texas instrument calculator that everyone thinks are so great are complete garbage.  Compared to 15c or 42s by HP this is not a tool, but a child's toy or just a piece of land fill luggage."

In [0]:
def TEXTBLOB(text):
  TEXTBLOB = TextBlob(text).sentiment
  polarity = TEXTBLOB.polarity
  if polarity == 0:
    return "neutral"
  elif polarity > 0:
     return "positive"
  else:
    return "negative"

In [16]:
df1['reviewText_textblob'] = df1['reviewText'].apply(TEXTBLOB)
df1.head()

       reviewerID        asin  ...   reviewTime reviewText_textblob
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004            positive
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007            positive
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011            positive
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006            positive
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013            positive

[5 rows x 10 columns]