<a href="https://colab.research.google.com/github/HasanAliNaqvi/NLP/blob/master/Class3_CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import re
import nltk
from nltk.tokenize import MWETokenizer 
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [0]:
df = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines=True)

In [0]:
from nltk.tokenize import sent_tokenize, word_tokenize
def mwe(str):
    d = {}
    tk = MWETokenizer() 
    d['MWETokenizer'] = tk.tokenize(str.split())
    d['word_tokenize'] = word_tokenize(str)
    temp = nltk.pos_tag(str.split())
    d['pos_tag'] = temp
    adj = []
    for x in temp:
        if x[1] == 'JJ':
            adj.append(x[0])
    d['adjective'] = adj
    return d
    df['nltk']=df['reviewText'].apply(mwe)

In [6]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]