<a href="https://colab.research.google.com/github/HasanAliNaqvi/NLP/blob/master/Class1_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import gzip

In [0]:
df= pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines= True)

In [0]:
def cv(str):
  d= dict()
  words= str.lower().split(" ")
  for word in words:
    if word in d:
      d[word] = d[word] +1
    else:
      d[word] = 1
  return d

In [5]:
cv(df.reviewText[0])

{'': 9,
 '(now': 1,
 '12c,': 2,
 '1984': 1,
 '2002': 1,
 '49g': 3,
 '49g+)': 1,
 '49g.': 1,
 'a': 5,
 'about': 1,
 'an': 1,
 'and': 5,
 'another': 1,
 'applications': 1,
 'are': 1,
 'area.': 1,
 'as': 1,
 'aside': 1,
 'at': 1,
 'back': 1,
 'basic': 1,
 'batteries': 1,
 'be': 3,
 'best.': 1,
 'bought': 1,
 'business': 1,
 'but': 3,
 'buy': 1,
 'by': 1,
 'calculator,': 1,
 'come': 1,
 'coming': 1,
 'counterintuitive...and': 1,
 'decade': 1,
 'decided': 1,
 "didn't": 1,
 'difficult': 1,
 'disaster.the': 1,
 'does': 2,
 'even': 1,
 'extremely': 1,
 'faithfully': 1,
 'first': 1,
 'flagship': 1,
 'for': 4,
 'found': 1,
 'friend.': 1,
 'good': 1,
 'hand,': 1,
 'have': 1,
 'home!': 1,
 'hp': 3,
 'hp12c': 2,
 'i': 7,
 "i'm": 1,
 'in': 5,
 'is': 1,
 'it': 4,
 "it's": 1,
 'it,': 1,
 'know': 1,
 'line,': 1,
 'looking': 1,
 'lost': 1,
 'makes': 2,
 'manual': 2,
 'many': 2,
 'may': 2,
 'me': 2,
 'me.if': 1,
 'mistake!': 1,
 'move': 1,
 'my': 4,
 'need': 1,
 'of': 2,
 'old': 1,
 'on': 1,
 'one': 2,
 'or': 1,
 "order.i'm": 1,
 'other': 1,
 'over': 1,
 'people': 1,
 'powerful,': 1,
 'programmable.': 1,
 'purchased': 1,
 'ready': 1,
 'reliable': 1,
 'replace': 2,
 'running': 1,
 'searched': 1,
 'sense': 1,
 'sense;': 1,
 'served': 1,
 'set': 1,
 'short': 1,
 'sketchy': 1,
 'so,': 2,
 'solid,': 1,
 'statistics': 1,
 'that': 3,
 'the': 9,
 'to': 7,
 'too.': 1,
 'travelling.': 1,
 'until': 1,
 'up': 2,
 'use!hp': 1,
 'using': 1,
 'view': 1,
 'was': 2,
 'way': 1,
 'well': 1,
 'well,': 1,
 'what': 2,
 'when': 1,
 'while': 1,
 'will': 1,
 'you': 2,
 'you.': 1}

In [0]:

df2= df

In [0]:
df2['reviewText_count']= df2['reviewText'].apply(cv)

In [8]:

df2.head()

       reviewerID  ...                                   reviewText_count
0  A32T2H8150OJLU  ...  {'i': 7, 'bought': 1, 'my': 4, 'first': 1, 'hp...
1  A3MAFS04ZABRGO  ...  {'why': 2, 'this': 13, 'belated': 1, 'review?'...
2  A1F1A0QQP2XVH5  ...  {'i': 2, 'have': 2, 'an': 2, 'hp': 3, '48gx': ...
3   A49R5DBXXQDE5  ...  {'i've': 4, 'started': 1, 'doing': 2, 'more': ...
4  A2XRMQA6PJ5ZJ8  ...  {'for': 4, 'simple': 1, 'calculations': 2, 'an...

[5 rows x 10 columns]