<a href="https://colab.research.google.com/github/HasanAliNaqvi/NLP/blob/master/Class2_CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import re
import string

In [0]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:
df.dropna(inplace=True)

In [0]:
vowels = ['a','e','i','o','u']

In [0]:
def count(stri):
  vow = 0
  con = 0
  word = stri.lower().split()
  wordcount = len(word)
  #return wordcount
  for w in stri.lower():
    if w in vowels:
      vow+=1
    elif w.isalpha():
      con+=1
  dic = {'Word_count': wordcount,
        'Vowel_count': vow,
        'Consonants_count': con}
  return dic

In [0]:
df['Count'] = df['reviewText'].apply(count)

In [11]:
df.head(4)

       reviewerID  ...                                              Count
0  A32T2H8150OJLU  ...  {'Word_count': 186, 'Vowel_count': 279, 'Conso...
1  A3MAFS04ZABRGO  ...  {'Word_count': 911, 'Vowel_count': 1504, 'Cons...
2  A1F1A0QQP2XVH5  ...  {'Word_count': 96, 'Vowel_count': 134, 'Conson...
3   A49R5DBXXQDE5  ...  {'Word_count': 603, 'Vowel_count': 1089, 'Cons...

[4 rows x 10 columns]

In [0]:
def regx1(str):
  str.translate(str.maketrans('', '', string.punctuation))
  bg = re.findall(r'\b[bB]\w+ | \w+[gG]\b', str)
  return bg

In [0]:
df['Words bg'] = df['reviewText'].apply(regx1)

In [15]:

df.head(4)

       reviewerID  ...                                           Words bg
0  A32T2H8150OJLU  ...  [bought ,  travelling, but , by , buy ,  49G, ...
1  A3MAFS04ZABRGO  ...  [BELATED ,  sharing,  burying,  praising,  inc...
2  A1F1A0QQP2XVH5  ...                   [been ,  giving, But ,  working]
3   A49R5DBXXQDE5  ...  [ doing,  looking, been , because ,  long, but...

[4 rows x 11 columns]